<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978221051084-vo9kp0b2p4vpr22hkm379lf8gool7geo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978221051084-vo9kp0b2p4vpr22hkm379lf8gool7geo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978221051084-c64jd8097h8s8f1oobj7qcpbkmus2v09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD--T1XxYNmS-rtG4WBSY1TaPQnoHMiykY</string>
	<key>GCM_SENDER_ID</key>
	<string>978221051084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appify.Unity-Premier-League</string>
	<key>PROJECT_ID</key>
	<string>my-league-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-league-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978221051084:ios:415518e897e203182aa669</string>
	<key>DATABASE_URL</key>
	<string>https://my-league-app.firebaseio.com</string>
</dict>
</plist>